.Header {
    /* position: fixed; */
    z-index: 100;
}

.HeaderGroup {
    max-width: 1280px;
    margin:16px auto;
    padding: 24px;
    align-items: center;
}

.HeaderGroup .LeftNavLogo {
    float: left;
}

.HeaderGroup .RightNavLogo {
    float: right;
}

@media (max-width: 640px) {
    .HeaderGroup {
        padding: 16px;
    }    

    .LeftNavLogo {
        width: 44px;

    }

    .RightNavLogo {
        width: 96px;
    }
}